<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:fragment="header">
            <div class="navbar">            
                <!-- Navegador -->
                <nav> 
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link active text-white" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" aria-current="page" href="#"><i class="material-icons" style="font-size:30px;color:white">menu</i></a>
                        </li >
                        <li class="nav-item"><a class="nav-link text-white" href="/vistaUsuario " th:text="#{template.peliculas}"></a></li>
                       
                    </ul> 
                </nav>
                <a href=" "> <img class="logo" src="/images/logohomw.png" alt="Logo"/></a>

                <div class="dropdown" style="float:right;">
                    <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="material-icons-outlined" style="font-size:34px;color:white">account_circle</i>
                    </a>
                    <div class="dropdown-content">
                        <a th:href="@{/cuenta}" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" th:text="#{template.micuenta}"></a>
                        <a th:href="@{/peliculas/favoritas}" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" th:text="#{template.favoritos}"></a>
                        <a href="/peliculas/historial" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" th:text="#{template.historial}"></a>
                        <a th:href="@{/peliculaN}" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:text="#{template.agregarpeli}"></a>
                        <a th:href="@{/lista}" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:text="#{template.listapeli}"></a>
                        <a th:href="@{/logout}" th:text="#{template.salir}"></a>
                    </div>          
                </div>
            </div>
            <!-- Offcanvas -->
            <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                <div class="offcanvas-header text-center" style="background-color: #161212;">
                    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel" style="color: #B5C03D;font-size: 25px;" th:text="#{template.generos}"></h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body" style="height: 80vh; overflow: auto; background-color: #161212; color: #fff; font-size: 16px;"> 
                    <ul style="list-style-type: none; padding: 0;"> 
                        <li style="margin-bottom: 10px;"><a th:href="@{/verlista/1}" style="text-decoration: none; color: #fff; font-size: 20px;" th:text="#{template.acc}"></a></li>
                        <hr style="border-color: #707070;"> 
                        <li style="margin-bottom: 10px;"><a th:href="@{/verlista/3}" style="text-decoration: none; color: #fff; font-size: 20px;" th:text="#{template.ani}"></a></li>
                        <hr style="border-color: #707070;">
                        <li style="margin-bottom: 10px;"><a th:href="@{/verlista/{id}(id=${5})}" style="text-decoration: none; color: #fff; font-size: 20px;" th:text="#{template.come}"></a></li>
                        <hr style="border-color: #707070;">
                        <li style="margin-bottom: 10px;"><a th:href="@{/verlista/{id}(id=${4})}"style="text-decoration: none; color: #fff; font-size: 20px;" th:text="#{template.cienF}"></a></li>
                        <hr style="border-color: #707070;">
                        <li style="margin-bottom: 10px;"><a th:href="@{/verlista/11}" style="text-decoration: none; color: #fff; font-size: 20px;" th:text="#{template.ter}"></a></li>
                        <hr style="border-color: #707070;">
                        <li style="margin-bottom: 10px;"><a th:href="@{/verlista/7}"style="text-decoration: none; color: #fff; font-size: 20px;" th:text="#{template.dra}"></a></li>
                    </ul>
                </div>
            </div>
        </header>
    </body>
</html>
