body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;

}

.card-text{
    width: 500px;
    height: auto;
}
.mitad1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.mitad2{
    margin-left: 50px;
}
.mitad2 ul{
     display: flex;
  flex-direction: row;
}
.mita{
    margin-top: 30px;
}
h1{
    font-size: 250%;
    font-weight: 500;
    margin-top: 0.5%;
    margin-left: 3.5%;
    margin-right: 7%;
    color: #ccff33;
    margin-bottom: 0rem;
}
.play{
    background-color: #AEB73E;
    color: #fff;
    padding: 10px 22px;
    margin-right: 25px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
.imagen {
  width: 850px; 
  height: 500px; 

}
