body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;

}
a{
    color: white;
}
.container{
    display: flex;
    height: 100vh;
}
.error-message {
    color: #FFA500;
    padding: 5px;
    margin-top: 8px;
    font-size: 14px;
}
#iniciar{
    color: #fff;
    background-color: #B5C03D;
    border: none;
    border-radius: 1vh;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 10%;
    margin-left:30%;
    margin-right: 25%;

}
#abajo2{
    display: inline-block;
}
.mitad1{
    height: 100%;
    width: 50%;
    background: #541E50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.arriba{
    font-size:2.5vw;
}
.abajo{
    font-size: 1.5vw;
}
.abajo2{
    padding-top: 10%;
    width: 50%;
}
.abajo2 a{
    text-decoration: none;
    border: solid #B5C03D 0.4vh;
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
}
#submit1{
    color: #fff;
    background-color: #B5C03D;
    border: none;
    border-radius: 0px 5px 5px 0px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.mitad1 #logo{
    position: absolute;
    width: 15%;
    height: 10%;
    top: 3vh;
    left: 12vh;
}
/*----------Mitad2----------*/
.mitad2{
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56),rgba(0, 0, 0, 0.56)) ,url(../images/posters.jpg);
    background-position: center;
    background-size: cover;
}
.content_form{
    border-radius: 10px;
    position: absolute;
    background-color:rgba(255, 255, 255, .13);
    padding: 1% 5%;
    width: 20%;
    left: 64%;
    right: 50%;
    top: 25%;
    background: #541E50;
}
.mitad2 .Titulo{
    display: flex;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
    margin-bottom: auto;
    margin-left: 0%;
    margin-top:2%;
    font-size: 80%;
    gap: 5%;
}
.TextField input{
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 16px;
    color: #333;
}
.mitad2 #logo{
    width: 15%;
    height: 10%;
    /*top: 3vh;
    left: 12vh;*/
}
.mitad2 label{
    padding-top: 2vh;
    display: block;
    margin-bottom: 10px;
}
.mitad2 .Recuperacion{
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.signin{
    position: relative;
    right: -20%;
    background-color: #B5C03D;
    color: #fff;
    padding: 2vh 3.5vh;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
/*Animaciones*/
#iniciar:hover{
    transform: scale(0.80);
}
