/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 14 mar 2023, 15:04:15
    Author     : Neptune
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    /*Posición mitad y mitad*/
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 5%;
    translate: 50%, -50%;
    background-color: #632c5f;
}

#icon {
    margin-top: 3%;
    margin-left: 8%;
    height: 40px;
    width: 50px;
}

.container h1 {
    color: white;
    margin-left: -1%;
    margin-bottom: 3%;
    font-size: 250%;
}

.container form {
    /*Datos*/
    color: white;
    background-color: #703f6d;
    position: relative;
    margin-left: 17%;
    margin-right: 25%;
    padding: 3%;
}

.container_form label {
    top: 50%;
    left: 5%;
    color: white;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
}

.container_form input {
    width: 100%;
    padding: 0 5px;
    height: 6vmin;
    font-size: 16px;
    background: white;
    outline: none;
    font-weight: 400;
    border-radius: 10px;
}

.container_form a {
    color: white;
}

.container_form #check {
    width: 15%;
    height: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: 400;
    cursor: pointer;
}

.submit {
    background-color: #4CAF50; /* Color de fondo */
    border: none; /* Quitamos borde */
    color: white; /* Color de texto */
    padding: 10px 20px; /* Tamaño de padding */
    text-align: center; /* Centramos texto */
    text-decoration: none; /* Quitamos decoración de texto */
    display: inline-block; /* Mostramos como bloque */
    font-size: 16px; /* Tamaño de fuente */
    margin: 20px 0; /* Margen superior e inferior */
    cursor: pointer; /* Cambiamos el cursor */
    border-radius: 5px; /* Agregamos borde redondeado */
    -webkit-transition-duration: 0.4s; /* Duración de la transición */
    transition-duration: 0.4s; /* Duración de la transición */
    -webkit-transition-timing-function: ease-in-out; /* Función de timing */
    transition-timing-function: ease-in-out; /* Función de timing */
}

/*---------------------------------*/
.submit:hover {
    background-color:#B5C03D;
    /* Cambiamos color de fondo al hacer hover */
}

.submit:active {
    background-color: #2c9f9f;
    /* Cambiamos color de fondo al hacer click */
    transform: translateY(2px);
    /* Movemos el botón hacia abajo */
}

/*---------------------------------*/

.center2_1 {
    position: absolute;
    background-color: black;
    opacity: 0.6;
    height: 102%;
    width: 50%;
    left: 50%;
    float: left;
}

.center2 {
    width: 50%;
    float: left;
}

.center2 #fondo {
    width: 100%;
    height: 655px;
    background-size: cover;
}