body{
    margin-top: 10vh; 
    background: rgb(72,35,82);
    background: linear-gradient(0deg, rgba(72,35,82,1) 0%, rgba(17,12,17,1) 100%);
    height: 100vh;
    overflow: auto;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

.navbar{
    height: 10vh;
    width: 100%;
    display: flex;
    background: rgba(17, 14, 14,.86);
    position: fixed; 
    top: 0; 
    z-index: 100; 
}
h1{
        font-size: 250%;
    font-weight: 500;
    margin-top: 0.5%;
    margin-left: 5%;
    margin-right: 7%;
    color: #ccff33;
    margin-bottom: 0.5rem;
}
.logo{

    width: 140px;
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 46%;

}
nav{
    flex: 1;
    padding-left: 2px;

}

nav ul li{
    vertical-align: middle;
    display: inline-block;
    list-style: none;
    margin: 0px 30px;
    font-size: 18px;
}
nav ul li i {
    vertical-align: sub;
}
.dropdown a{
    margin-right: 33px;
}


.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #110E0F;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #495057;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.container {
  padding: 40px;
  display: flex;
  justify-content: flex-start; /* changed from center */
  overflow-x: hidden;
}

ul {
  list-style: none;
}

/* Responsive image gallery rules begin*/

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* changed from center */
  gap: 15px;
}

.image-gallery > li {
  /* removed flex-basis */
  position: relative;
  cursor: pointer;
}

.image-gallery::after {
  content: "";
  flex-basis: 350px;
}

.image-gallery li img {
  width: 350px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}


.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.502);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  border-radius: 5px;
  /* center overlay text */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hover */
.image-gallery li:hover .overlay {
  transform: scale(1);
}
