
<!DOCTYPE html>
<html>
    <head>
        <title>Tarjeta</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/tarjeta.css"/>

        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

    </head>
    <body>

        <div class="container">              
            <div class="objeto"> 
                <div class="top">        
                    <img id="logo" src="/images/logohomw.png" alt="Logo"/>
                    <a class="signin" href="/login">Sign in</a>
                    <p class="paso">Paso 3/3</p>
                    <h1>Agregá una tarjeta</h1>
                    <p><i class="material-icons"style="font-size:35px;color:#B5C03D;">https</i>Pago seguro y encriptado</p>
                </div>
                <div class="bottom"> 
                    <div class="mitad1"> 
                        <form th:action="@{/saveT/{idSuscripcion}/{idPlan}(idSuscripcion=${idSuscripcion}, idPlan=${idPlan})}"
                              method="post"
                              th:object="${tarjeta}">
                            <div class ="txt_field">
                                <input type="hidden" name="suscripcionId" value="${suscripcion.id}" />
                            </div>
                            <div class ="txt_field">
                                <input type="hidden" th:field="*{id}">
                                <!-- Script Listo -->
                                <label for="nombre" id="nombre" disabled>Nombre en la Tarjeta</label>
                                <input type="text" id="nombreInp" th:field="*{nombret}" oninput="ocultarLabel()" onblur="mostrarLabel()" required/>
                                <script>
                                    function ocultarLabel() {
                                        document.querySelector("#nombre").style.display = "none";
                                    }
                                    function mostrarLabel() {
                                        const input = document.querySelector("#nombreInp");
                                        const label = document.querySelector("#nombre");

                                        if (input.value.length === 0) {
                                            label.style.display = "block";
                                        }
                                    }
                                </script>
                            </div>
                            <!-- Script Listo -->
                            <div class ="txt_field">
                                <label for="numerot" id="numero" disabled>Número de Tarjeta</label><!-- No se puede quitar el 0 -->
                                <input type="number" id="numeroInp" th:field="*{numerot}" oninput="ocultarLabel2()" onblur="mostrarLabel2()" value="" required/> 
                                <script>
                                    function ocultarLabel2() {
                                        document.querySelector("#numero").style.display = "none";
                                    }
                                    function mostrarLabel2() {
                                        const input = document.querySelector("#numeroInp");
                                        const label = document.querySelector("#numero");

                                        if (input.value.length === 0) {
                                            label.style.display = "block";
                                        }
                                    }
                                </script>
                            </div>
                            <div class ="txt_field">
                                <label for="nombreT" id="fechaex" disabled>Fecha de Expiración (MM/YY)</label>
                                <input type="text" id="fechaexInp" th:field="*{fechaex}" oninput="ocultarLabel3()" onblur="mostrarLabel3()" required/>
                                <script>
                                    function ocultarLabel3() {
                                        document.querySelector("#fechaex").style.display = "none";
                                    }
                                    function mostrarLabel3() {
                                        const input = document.querySelector("#fechaexInp");
                                        const label = document.querySelector("#fechaex");

                                        if (input.value.length === 0) {
                                            label.style.display = "block";
                                        }
                                    }
                                </script>
                            </div>
                            <div class ="txt_field">
                                <label for="codSe" id="cvv" disabled>Código de seguridad (CVV)</label>
                                <input type="number" id="cvvInp" th:field="*{codse}" oninput="ocultarLabel4()" onblur="mostrarLabel4()" value="" required/>
                                <script>
                                    function ocultarLabel4() {
                                        document.querySelector("#cvv").style.display = "none";
                                    }
                                    function mostrarLabel4() {
                                        const input = document.querySelector("#cvvInp");
                                        const label = document.querySelector("#cvv");

                                        if (input.value.length === 0) {
                                            label.style.display = "block";
                                        }
                                    }
                                </script>
                            </div>
                            <button type="submit">Empezar Membresía</button>
                        </form>
                    </div> 
                    <div class="mitad2">                     
                        <p>Seleccionaste el plan de <span th:text="${plan.nombre}"></span> con valor de ₡<span th:text="${plan.precio}"></span> colones, este monto será automáticamente 
                            descontado de la cuenta asociada a esta tarjeta 
                            al empezar la membresía. Cuando expire el plazo
                            del plan, nuestro servicio volverá a renovarlo.
                            Puedes cancelar tu plan en cualquier momento 
                            entrando a las configuraciones de tu perfil. 
                            Revisa los <a href="/terminosYcondiciones"> términos y condiciones</a> para más
                            información</p>
                    </div>
                </div>
            </div> 
        </div>
        <footer th:replace="plantilla/template::footer"></footer>
    </body>
</html>
