<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Mi Cuenta</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/cambioT2.css"/>
    </head>
    <body>
        <form th:action="@{/cuenta/cambioTarje}" method="get">
            <div class="container">
                <div class="objeto"> 
                    <div class="top">                 
                        <h1>Cambiar tarjeta</h1>
                    </div>
                    <div class="barras1"></div>
                    <div class="mitad">
                        <div class="mitad1"> 
                            <div class ="txt_field">
                                <label for="">Digite el nombre de la tarjeta:</label>
                                <input type="text" name="nombret" />
                            </div>
                            <br>
                            <div class ="txt_field">
                                <label for="">Digite el número de la tarjeta:</label>
                                <input type="number" name="numerot" />
                            </div>
                        </div>
                        <div class="mitad2">
                            <div class ="txt_field">
                                <label for="">Digite la fecha de expiración:</label>
                                <input type="text" name="fechaex" />
                            </div>
                            <br>
                            <div class ="txt_field">
                                <label for="">Digite el código de seguridad:</label>
                                <input type="number" name="codse" />
                            </div>
                        </div>
                    </div>
                    <div class="barras2"></div>
                    <div class="bottom">
                        <button><a href="/cuenta">Cancelar</a></button> 
                        <button type="submit">Continuar</button> 
                    </div>
                </div>
            </div>
        </form>
        <footer th:replace="plantilla/template::footer"></footer>
    </body>
</html>