<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Mi Cuenta</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/cambioT.css"/>
    </head>
    <body>
        <form th:action="@{/cuenta/cambioTele}" method="get">
            <div class="container">
                <div class="objeto"> 
                    <div class="top">                 
                        <h1>Cambiar número telefónico</h1>
                    </div>
                    <div class="barras1"></div>
                    <div class="mitad">
                        <div class="mitad1"> 
                            <div class ="txt_field">
                                <label for="">Digite el nuevo número telefónico</label>
                                <input type="number" name="consulta" />
                            </div>
                        </div>
                        <div class="mitad2">                     
                            <p>* Usted recibirá un mensaje de confirmación</p>
                        </div>
                    </div>
                    <div class="barras2"></div>
                    <div class="bottom">


                        <button><a href="/cuenta">Cancelar</a></button> 
                        <button type="submit">Continuar</button> 
                    </div>
                </div>
            </div>
        </form>
        <footer th:replace="plantilla/template::footer"></footer>
    </body>
</html>