<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/GraciasSubs.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container">
            <div class="objeto">
                <img id="Logo" src="/images/grande.png" alt=""/>
                <div class="text">¡GRACIAS POR TU SUSCRIPCIÓN :D!</div>
                <a id="Continuar" href="login">Continuar ►</a>
            </div>
        </div>
        <footer th:replace="plantilla/template::footer"></footer>
    </body>
</html>
