
<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Index</title>
        <meta charset="UTF-8">        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/iniSesion.css"/>
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    </head>

    <body>
        <div class = container> 
            <div class = mitad1>
                <img id="logo" src="/images/logohomw.png" alt=""/>
                <p class="arriba">Entretenimiento en todo momento.</p>
                <p class="abajo">¡Bienvenido otra vez!</p>
                <p class="abajo2">¿Primera vez utilizando Saturno? <a href="/usuarioN">Registrate</a></p>
            </div>
            <div class = mitad2>
                <div class="content_form">
                    <div class="Titulo">
                        <img id="logo" src="/images/meteoro.png" alt=""/>
                        <h1>Inicio de Sesion</h1>
                    </div>
                    <form>
                        <div class="TextField">
                            <label  for="nickname">Usuario:</label>
                            <input type="text" id="nickname" aria-describedby="emailHelp" required>
                        </div>
                        <div class="TextField">
                            <label for="contrasena">Contraseña:</label>
                            <input type="password" id="contrasena" aria-describedby="emailHelp" required>
                        </div>
                    </form>
                    <div class="Recuperacion"><p>¿Olvidaste tu contraseña? <a href="">Recuperar</a></p></div>
                    <div><a class="signin" id="iniciar" href="/iniSesion">Iniciar Sesión</a></div>
                </div>
            </div>
        </div>
    </body>
</html>
