<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Terminos y Conddiciones</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
        <link rel="stylesheet" href="/css/terminos.css"/>
    </head>
    <body>        
        <div class="container">
            <div class="objeto">

                <h1>Terminos y Condiciones</h1>
                <div class="cuadro-pequeno">
                    <p>1.Uso de la aplicación: La aplicación Saturno está diseñada para uso personal y no comercial. Usted se compromete a utilizar la aplicación únicamente para ver contenido de video en línea y no para descargar, transmitir, almacenar, copiar o reproducir el contenido de la aplicación de ninguna manera.
                        <br>
                        <br>2.Contenido de la aplicación: El contenido de la aplicación incluye, pero no se limita a, películas, series, documentales, cortometrajes y otros tipos de contenido de video. Todo el contenido de la aplicación es propiedad exclusiva de la empresa y está protegido por las leyes de derechos de autor.
                        <br>
                        <br>3.Cuenta de usuario: Al registrarse en la aplicación, usted debe proporcionar información precisa y completa. Usted es responsable de mantener la confidencialidad de su contraseña y de todas las actividades que se realicen en su cuenta.
                        <br>
                        <br>4.Pagos: La aplicación puede ofrecer planes de suscripción de pago para acceder a cierto contenido premium. Los pagos se procesarán a través de una plataforma segura de terceros y usted acepta pagar todos los cargos asociados con su suscripción. La empresa se reserva el derecho de modificar los precios de la suscripción en cualquier momento.
                        <br>
                        <br>5.Contenido inapropiado: La empresa se reserva el derecho de eliminar cualquier contenido que considere inapropiado, ofensivo o ilegal. Además, la empresa puede suspender o cancelar su cuenta si se determina que está utilizando la aplicación de manera inapropiada o violando los términos y condiciones de la aplicación.
                        <br>
                        <br>6.Responsabilidad del usuario: Usted es responsable de su uso de la aplicación y de cumplir con todas las leyes y regulaciones aplicables. La empresa no será responsable por cualquier daño o pérdida que resulte del uso de la aplicación.
                        <br>
                        <br>7.Modificaciones de los términos y condiciones: La empresa se reserva el derecho de modificar los términos y condiciones de la aplicación en cualquier momento. Se le notificará por correo electrónico o por medio de la aplicación de cualquier cambio en los términos y condiciones.</p>
                </div>

                <a href="/usuarioN">CONTINUAR</a>

            </div>
        </div>
        <footer th:replace="plantilla/template::footer"></footer>
    </body>
</html>


